@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common Styles */
html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
  }
  
 
  /* End of Common Styles */
  
  /* Mouse Circle */
  .mouse-circle,
  .mouse-dot {
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
  }
  
  .mouse-circle {
    width: 6rem;
    height: 6rem;
    border: 0.1rem solid black;
    animation: mouseCircleAnim 10s infinite linear;
  }
  
  @keyframes mouseCircleAnim {
    0% {
      width: 6rem;
      height: 6rem;
    }
    25% {
      width: 8rem;
      height: 8rem;
    }
    35% {
      width: 4rem;
      height: 4rem;
    }
    70% {
      width: 8rem;
      height: 8rem;
    }
    100% {
      width: 6rem;
      height: 6rem;
    }
  }
  
  .mouse-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #9b0e0e;
    animation: mouseDotAnim 10s infinite linear;
  }
  
  @keyframes mouseDotAnim {
    0% {
      width: 0.5rem;
      height: 0.5rem;
    }
    55% {
      width: 1.5rem;
      height: 1.5rem;
    }
    100% {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
  /* End of Mouse Circle */

  /* nav */
  .header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
  }

  .header-area .main-menu .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: black;
  }

  .header-area .main-menu .navbar-nav .active {
    background: crimson;
  }

  .header-area .main-menu .navbar-nav :hover {
    background: crimson;
  }
  /* end of nav */
  
  /* banner area */
  .site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
  }

  .site-main .site-banner .site-title h3::after {
    content: "";
    height: 2px;
    width: 18vw;
    display: inline-block;
    background: crimson;
    margin-left: 5%;
    transform: translateY(10px);
  }

  .site-main .site-banner .site-title h1 {
    font-size: 5rem;
  }

  .site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
  }

  .site-main .site-banner .banner-image > img {
    padding: 7rem 0;
    width: 90rem;
  }

  .title-text {
    font: normal bold 50px/72px;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .button {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px;
    position: relative;
    border: 3px solid crimson;
    text-decoration: none;
    margin: 10px;
  }

  .button.primary-button:hover{
    background: crimson;
  }

  .button.secondary-button:hover{
    background: crimson;
  }

  /* end of banner area */

  /* about area */
  .site-main .about-area {
    padding: 8rem 5rem;
  }

  .site-main .about-area .about-title h2 > span {
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 15px;
  }

  .site-main .about-area .about-title .paragraph > p {
    padding: .4rem 0;
  }

  p.para {
    font: normal 500 16px/25px;
  }

  /* end about area */

/* services area */
.site-main .services-area {
  padding: 7rem 2rem;
}

.site-main .services-area .service-title {
  padding: 0 14rem;
}

.site-main .services-area .service-title h1 {
  font-size: 35px;
}

.site-main .services-area .services {
  background-color: rgba(248, 258, 252, 0.973);
  transition: box-shadow .7s ease;
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem .5rem;
}

.site-main .services-area .services:hover {
  box-shadow: 10px 30px rgba(57, 56, 61, 0.205);
}
/* end services area */

/* project area */
.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: bold 500 16px/130px;
  text-transform: uppercase;

}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}
/* end of project area */

 

  
  
  